pip==8.1.2
apsw==3.8.11.1.post1
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
chardet==2.3.0
CherryPy==3.5.0
click==6.6
Flask==0.11.1
Flask-Cors==2.1.2
html5lib==0.999
lxml==3.5.0
networkx==1.11
numpy==1.11.0
pandas==0.17.1
pathlib2==2.1.0
patsy==0.4.1
pexpect==4.0.1
Routes==2.2
scikit-fuzzy==0.2
scikit-learn==0.17.1
scipy==0.17.0